<div class="inner cover">
    <div class="row">  
        <div class="col-md-12">
            <div class="card">
                    <%= link_to topic.title, topic_path(topic), class:  'topic-link'%>
            </div>
        </div>
    </div>
</div>


