<div class="collapse" id="education">
  <div class="card card-block">
    <h3>Education</h3>
    <ul>
      <li> LEARN Academy | Full Stack Web Developer in Training | 2019 </li>
      <li> Gonzaga University | BBA Finance & Economics | 2014 </li>
    </ul>	
  </div>
</div>