<div class="collapse" id="jobHistory">
  <div class="card card-block">
    <h3>Development Experience</h3>
    <ul>
      <li> Notch8 | Jr. Software Developer | 2020 </li>
      <li> Notch8 | Software Development Intern | 2019 </li>
    </ul>	
  </div>
  <div class="card card-block">
    <h3>Prior Experience</h3>
    <ul>
      <li> Verus Investments | Operations Anlayst | 2017-2019 </li>
      <li> Verus Investments | Financial Analyst  | 2015-2017 </li>
    </ul>
  </div>
</div>