<h1>About Me</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <%=image_tag "profilepic.jpg", width: "200", height: "300", alt: "Profile Image" %>
    </div>
    <div class="col-md-8">
        <p>I am a Full-Stack Developer with a passion for collaboration, learning new technologies and using my analytical background to solve problems. Prior to transitioning to development, I spent four and a half years in Financial/Operations Analyst roles. Knowing that it would be applicable to my career, I began taking a Python course in my spare time. The class provided a great introduction to the world of coding and inspired me to pursue software development full time. When I'm not coding, I'm usually exercising, reading or exploring San Diego. Check out some of my work below!</p>
    </div>


