<div class="app-card-container">
  <div class="card">
    <h1>Feel Free to Reach Out</h1>

    <hr>

    <div class="row">
        <div class="col-md-3">
            <h4>Address</h3>

            <p>San Diego, CA 92101</p>

            <h4>Phone</h3>

            <p><%= number_to_phone "928-814-3246" %></p>

            <h4>Email</h3>

            <p><a href="mailto:dylansalay@gmail.com?subject=PortfolioContact" "email me">Email me </a></p>
        </div>

        <div class="col-md-9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3357.112349274691!2d-117.16014328535863!3d32.709642180992404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9535bdab877db%3A0xe7b38db80442ca76!2s704%20J%20St%2C%20San%20Diego%2C%20CA%2092101!5e0!3m2!1sen!2sus!4v1582304337837!5m2!1sen!2sus" width="350" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
  </div>
</div>

